.Footer
{
    height: 30vh;
    padding: 40px;
    background-color: black;
    position:relative;
    bottom: 0;
}
.Links
{
    height: 20px;
    color: aliceblue;
    text-align: center;
}
.Links svg
{
    color: var(--color-white);
    margin: 0.5rem;
    font-size: 24px;
    cursor: pointer;
}
.Links svg:hover
{
    color: var(--color-white);
}
.Us
{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.footer-mid
{
    margin-top: 70px;
}
.footer-left img
{   
    border-radius: 50%;
}