.Footer
{
    height: 30vh;
    width: 95%;
    padding: 40px;
    background-color: black;
    position:relative;
    bottom: 0;
}
.Links
{
    color: aliceblue;
    text-align: center;
    margin-top:0.5rem;
}
.Links svg
{
    color: var(--color-white);
    margin: 0.5rem;
    font-size: 24px;
    cursor: pointer;
}
.Links svg:hover
{
    color: var(--color-white);
}
.Us
{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}