.main-container
{
  height: 100vh;
}
.logo img
{

  border-radius: 50%;
}
.nav1
{

    display:flex;
    justify-content: flex-end;
    align-items: right;
    list-style: none;
}

.nav1 li
{
  margin:0 3rem;
  cursor: pointer;
}

.navitem .navlink 
{
  position:relative;
  color: var(--light);
  text-decoration: none;
  padding: 5;
  font-size: 1.3rem;
}

.nav1 .navlink::after
{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  transition: 0.4s ease-out;
}

.nav1 .navlink:hover::after
{
  left:0;
  width: 100%;
}


.new
{
  width: 95%;
  height: 30vh;
  border: 1px solid gray;
  margin: 0 auto;
  position:relative;
}
.search-bar
{
  width: "100%";
  max-width: 400px;
  height: 60px;
  align-items: center;
  display:flex;
  border-radius: 60px;
  padding: 20px 20px;
  background-color: rgba(160, 155, 155, 0.2);
}
.search-bar input
{
  background: transparent;
  flex: 1;
  height: 50px;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #929297;
}
.search-bar button
{
  width: 20px;
}
.search-bar button
{
  border: 0;
  border-radius:50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer; 

}

.kirtipur img
{
  height: 80vh;
  padding:  2rem;
  width: 170vh;
}